{% extends 'base.html' %}

    {% block content %}
    <div id="container">
        <h2>{{review.title}}</h2>
        <h3> 
            {% if review.rating == 1 %}
                &#9733;
            {% elif review.rating == 2 %}
                &#9733;&#9733;
            {% elif review.rating == 3 %}
                &#9733;&#9733;&#9733;
            {% elif review.rating == 4 %}
                &#9733;&#9733;&#9733;&#9733;
            {% elif review.rating == 5 %}
                &#9733;&#9733;&#9733;&#9733;&#9733;
            {% endif %}
        </h3>
        <p class="content">{{review.text}}</p>
    </div>
    <div class="link">
        <a href="{{ url_for('show_all_reviews') }}">Back to All Reviews</a>
    </div>
    {% endblock %}