{% extends 'base.html' %}

    {% block content %}
    <div id="container">
        <h1>Movie Reviews</h1>
        <h3>{{review.title}}: 
            {% if review.rating == 1 %}
                &#9733;
            {% elif review.rating == 2 %}
                &#9733;&#9733;
            {% elif review.rating == 3 %}
                &#9733;&#9733;&#9733;
            {% elif review.rating == 4 %}
                &#9733;&#9733;&#9733;&#9733;
            {% elif review.rating == 5 %}
                &#9733;&#9733;&#9733;&#9733;&#9733;
            {% endif %}
        </h3>
        <p>{{review.text}}</p>
    </div>
    <div>
        <a href="{{ url_for('show_all_reviews') }}">Back to All Reviews</a>
    </div>
    {% endblock %}